@font-face {
  font-family: "Myriad Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff')
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Myriad Pro Regular";
} */

:root {
  --primary-color: #4891ff;
  --light-color: #f4f4f6;
  --dark-color: #111;
}

/* body {
  font-size: 16px;
  line-height: 1.5;
  background: #fbfbf7;
  overflow-x: hidden;
} */

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
  font-family: "Myriad Pro Regular";
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Myriad Pro Regular";
  font-weight: 900;
  font-size: 16px;
  line-height: 1.5;
  background: #fbfbf7;
  overflow: hidden;
}

/* #landing-1 {
  width: 100vw;
  height: 100vh;
} */

.btn-shadow:hover {
  opacity: 0.8;
  cursor: pointer;
}

.slider {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slider .status {
  position: absolute;
  bottom: 50%;
  right: 10px;
  display: flex;
  flex-direction: column;
}

.slider .status .point {
  position: absolute;
  width: 14px;
  height: 14px;
  /* top: 1px; */
  left: 3px;
  background-color: black;
  border-radius: 50%;
  z-index: 15;
  transition: left 500ms ease-in-out;
}

.slider .status .point[data-current='0'] {
  top: 4px;
}

.slider .status .point[data-current='1'] {
  top: 24px;
}

.slider .status .point[data-current='2'] {
  top: 44px;
}

.slider .status .point[data-current='3'] {
  top: 64px;
}

.slider .status .point[data-current='4'] {
  top: 84px;
}

.slider .status .point[data-current='5'] {
  top: 104px;
}

.slider .status .point[data-current='6'] {
  top: 124px;
}

.slider .status .point[data-current='7'] {
  top: 144px;
}

.slider .status .stat {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
  z-index: 20;
  margin: 5px 5px;
  border: 1px solid #1f1212;
}

.slider .status .stat.current {
  background-color: #fff;
}

.slider .text {
  position: absolute;
  color: #ff0;
  text-shadow: 0 0 5px #0003;
  z-index: 20;
  transform-origin: right top;
  transform: rotate(-90deg) translateY(calc(-90vh + 2vw));
  display: grid;
  grid-template-columns: 90vh;
  grid-template-rows: 1fr;
  font-size: 15vw;
}

@media (min-width: 70em) {
  .slider .text {
    font-size: 10em;
  }
}

.slider .text div {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  opacity: 0;
}

.slider .text div.current {
  opacity: 0.7;
}

.slider section {
  /* object-fit: cover; */
  /* object-position: center center; */
  width: 100%;
  height: 100%;
  /* filter: sepia(1) hue-rotate(180deg); */
  display: block;
}

.slider .image {
  width: 100%;
  height: 100vh;
  margin-right: -100%;
  background: #fbfbf7;
  opacity: 0;
  overflow: hidden;
  transform: translateY(0) scale(1.2);
  z-index: 1;
}

.slider .image.current {
  z-index: 10;
  transform: translateY(0) scale(1);
  opacity: 1;
}

.logo-bottom {
  height: 2px;
  border: none;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, black);
  margin-top: 7px;
}

.logo-img {
  position: relative;
  max-width: 110px;
  margin-right: 15%;
}

.logo-side {
  position: absolute;
  margin-left: 20px;
  width: 2px;
  border: none;
  background-color: #111;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 5%, black);
  right: 20px;
  height: 125%;
}

.center-hr-line{
  position: absolute;
  height: 2px;
  width: 150px;
  border: none;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 5%, black);
  right: -3%;
  /* top: 1%; */
  /* z-index: 11; */
}

.bottom-hr-line{
  position: absolute;
  height: 2px;
  width: 150px;
  border: none;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 5%, black);
  right: -10%;
  bottom: 3%;
  /* z-index: 11; */
}

.req-section {
  border-top: 2px solid;
  border-right: 2px solid;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 15%, black) 1;
}

/* .req-section {
  border-top: 2px solid;
  border-right: 2px solid;
  border-image: linear-gradient(to left, rgba(0, 0, 0, 0) 5%, black) 1,
                linear-gradient(to bottom, rgba(0, 0, 0, 0) 5%, black) 1;
} */


/* Chnages related to responsiveness */
.screen-sm {
  display: none;
}

.screen-md{
  display: none;
}

.para-text {
  font-size: 20px;
}

.hover-img {
  transition: 0.3s;
}
.hover-img:hover {
  transform: translate(0, -10px);
}

.btn-shadow{
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  z-index: 1050; /* or any value higher than the z-index of the elements causing the issue */
}

/* Media Queries */
@media (max-width: 1500px) {
  .para-text {
    font-size: 17px
  }
}

@media (min-width: 1500px) {
  .para-text {
    font-size: 20px
  }
}

.head-1 {
  font-size: 2.5vw;
}

.head-2 {
  font-size: 8vw;
}

@media (max-width: 768px) {
  .center-hr-line{
    display: none;
  }
  .logo-img{
    max-width: 100px !important;
  }
  .head-1 {
    font-size: 4.5vw !important;
  }

  .logo-side {
    right: 10px;
  }
  .logo-bottom {
    margin-top: 6px;
  }
}

@media (max-width: 500px) {
  .logo-img{
    max-width: 80px !important;
    text-align: end;
  }
  .head-1 {
    font-size: 4.5vw !important;
  }
}

@media screen and (min-width: 768px) and (max-height: 850px) {
  .head-1 {
    font-size: 1.5vw !important;
  }

  .head-2 {
    font-size: 5.5vw !important;
  }

  .para-text {
    font-size: 17px !important;
  }

  .logo-img{
    max-width: 140px !important;
  }
  .img-0{
    max-width: 100px;
  }
  .img-1 {
    max-width: 350px;
  }
  .img-2{
    max-width: 450px;
  }
  .img-4{
    max-width: 520px;
  }
  .img-5{
    max-width: 520px;
  }
}

/* @media screen and (min-width: 768px) and (min-height: 815px) {
  .head-1 {
    font-size: 2.5vw;
  }
} */

/* modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
